<!--
     Copyright (C) 2024-2026 The LineageOS Project
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.pixelos.ota.peridot">
    <overlay android:targetPackage="net.pixelos.ota"
                   android:isStatic="true"
                   android:priority="1000" />
</manifest>
